# Pandas

### DataStructure

In [2]:
import pandas as pd

dictionary = {"Name": ["John", "Anna", "Peter", "Linda"],
              "Location": ["New York", "Paris", "Berlin", "London"],
              "Age": [24, 13, 53, 33]}

Series = pd.Series(dictionary)
print(Series)

Name               [John, Anna, Peter, Linda]
Location    [New York, Paris, Berlin, London]
Age                          [24, 13, 53, 33]
dtype: object

In [3]:
print(Series["Name"])

['John', 'Anna', 'Peter', 'Linda']

### Data Frame

In [5]:
import pandas as pd

list = [1,2,3,4,5]
DataFrame = pd.DataFrame(list)

print(DataFrame)

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
dictionary = {"Name": ["John", "Anna", "Peter", "Linda"],
              "Location": ["New York", "Paris", "Berlin", "London"],
              "Age": [24, 13, 53, 33]}

DataFrame = pd.DataFrame(dictionary)
print(DataFrame)

    Name  Location  Age
0   John  New York   24
1   Anna     Paris   13
2  Peter    Berlin   53
3  Linda    London   33
Linda

In [8]:
print(DataFrame["Name"][3])

Linda

In [10]:
series_DataFrame_dict = {"Num":pd.Series([1,2,3,4,5]),"Char":pd.Series(["A","B","C","D","E"]),
                    "Float":pd.Series([1.1,1.2,1.3,1.4,1.5])}

series_DataFrame = pd.DataFrame(series_DataFrame_dict)

print(series_DataFrame)
print(type(series_DataFrame))

   Num Char  Float
0    1    A    1.1
1    2    B    1.2
2    3    C    1.3
3    4    D    1.4
4    5    E    1.5
<class 'pandas.core.frame.DataFrame'>

In [11]:
val = pd.Series({"Potato": 10, "Tomato": 20, "Onion": 30})
val

Potato    10
Tomato    20
Onion     30
dtype: int64

In [12]:
val.values

array([10, 20, 30])

In [13]:
val.index

Index(['Potato', 'Tomato', 'Onion'], dtype='object')