# Insert

In [2]:
import pandas as pd

var = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
print(var)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
var.insert(3,'D',[10,11,12])  #inserting a new column at the end which is D
print(var)

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [4]:
var['E'] = var['A'][:1]  #inserting a new column at the end which is E
print(var)

   A  B  C   D    E
0  1  4  7  10  1.0
1  2  5  8  11  NaN
2  3  6  9  12  NaN

# Delete

In [6]:
import pandas as pd

var = pd.DataFrame({'A': [1, 2, 3,10], 'B': [4, 5, 6,11], 'C': [7, 8, 9,12]})
print(var)

    A   B   C
0   1   4   7
1   2   5   8
2   3   6   9
3  10  11  12

In [7]:
var_1 = var.pop('B')
var_1

0     4
1     5
2     6
3    11
Name: B, dtype: int64

In [8]:
var

    A   C
0   1   7
1   2   8
2   3   9
3  10  12

In [9]:
del var["A"]

In [10]:
var

    C
0   7
1   8
2   9
3  12